@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
	margin: 0px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 24px;
}

body{
	flex-direction: column;
}

h1, h2, h3{
	font-weight: 700;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.7rem; }
h3 { font-size: 1.4rem; }

header{
	background-color: black;
	color: white;
	text-align: center; 
}

#titulo-index{
	text-align:center;
	margin-top: 20px;
}

a{
	font-size: medium;
	color: white;
	padding: 0 5px 5px 5px;
}

form{
	display: flex;
	justify-content: center;
	margin-top:80px;
}

.conteudo{
	display: block;
	
}

.ui-datatable{
	text-align: center;
}

.tabela-conta{
	width: 900px
}

.tabela-movimentacao{
	width: 900px;
}

.tabela-categoria{
	width: 700px
}

.ui-button {
    font-size: 16px;
    margin: 8px 8px 8px 8px;
}

.ui-button .fa{
    font-size: 17px;
}

.botao-filtro{
	margin: auto 0 0 0;
	font-size: 24px;
	height: 45px;
}

.botao-novo{
	margin: 0 0 5px 0;
	width: 30px;
	height: 40px;
	display: block;
}

.botao-salvar{
	font-size: 16px;
	margin: 15px 0 0 0;
}

.data-filtro{
	margin-top: 5px;
	width: 90px;
	height: 35px;
}

.info-movimentacao-panel-group{
	display:flex; 
	justify-content:center;
	margin: 25px 0 25px 0; 
}

.esquerda{
	display:block; 
	margin:auto
}
.direita{
	display: block; 
	margin:auto
}

.inputs{
	margin: 10px 0 10px 0;
}

.input-number{
	display:flex;
	margin: 10px 0 10px 0;
}

.text-area{
	display:flex;
	margin: 10px 0 10px 0;
}
.mais-detalhes-panel-group{
	display:flex;
	flex-direction:column;
	margin-bottom:10px;
}

.dialog-categoria{
	width: 500px;
}

.filtros{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: auto 0 auto 0;
}

.input-filtro{
	display:flex;
	flex-direction: column;
	margin-right: 20px;
}

.categoria-filtro{
	height: 45px;
}


